@media(max-width:400px){
    body{
        
    } 
    .players{
        grid-template-columns: 1fr 1fr;
    
    }
    .blogs{
        grid-template-columns: 1fr;
        
    } 
    .blogs .blog img{
        margin-right: 20px;
        width: 100px;

    } 
    .courses{
        flex-direction: column;
        
    }
    .courses .course{
        flex-basis: 80%;
        margin-top: 20px;
        padding: 20px;
    }
}