@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

body{
    background:#F3F1FF;
}

header{
  height: 94px;
  width: 100%;
  background: #562EFF;
}
section{
 margin-top: 30px;
 border-radius: 5px;
}
.container-header{
  max-width: 870px;
  padding-left: 30px;
  margin: auto;
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.container-header ul{
  display: flex;
  justify-content: center ;
  align-items: center;
  list-style: none
}
.container-header ul li{
  margin-right: 10px;
}
.container-header ul li a{
  text-decoration: none;
  color: #fff;
}
.container{
 max-width: 870px;
 margin: auto;
 background-color:#fff;
 padding: 30px;
 border-radius: 10px;
}
.section_title {
    color: #562EFF;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
}
.players img{
    width: 56px;
    margin-right: 10px;
}

.players .player{
    display: flex;
    align-items: center;

} 
hr{
    max-width: 807px;
     margin: auto;
}

/* Blogs sesction */

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.blogs .blog{
 display: flex;
 align-items: center;

} 
.blogs .blog .blog_title{
  color: #000;
  text-decoration: none;
  font-size: 20px;
} 
.blogs .blog span{
    color: #9F9F9F;
} 
.blogs .blog .author_name{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
}
.blogs .blog img{
    width: 197px; 
    margin-right: 10px;
}


/* courses section */

.courses{
 display: flex;
 justify-content: space-between;
} 
.courses .course{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    flex-basis: 32%;
    border-radius: 5px;

}
.courses .course img{
    width: 225px;
    margin-bottom: 10px;
}
.courses .course .course_title{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: bold;
}
.courses .course .instractor{
    font-size: 20px;
    text-decoration: none;
    color: #ED6B4F;
    font-size: 14px; 
    margin-bottom: 8px;
    display: inline-block;
}
.courses .course .course_info{
    display: flex;
    justify-content: space-around;
    align-items: center;

} 
.courses .course .rating-number{
  color: #A2A2A2;
}
.courses .course .course_duration{
    background: #FFE4E8;
    padding: 10px 12px;
    border-radius: 25px;
} 
.courses .course .course_duration p{
    color: #FF4A60;
    
} 
.courses .course .course_duration .fa{
    color: #FF4A60;
    margin-right: 5px;
    
} 


.courses .course .course_info .stars .fa{
    color: #FFC014 !important;
}