*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#F3F1FF;
}
section{
 margin-top: 30px;
 border-radius: 5px;
}
.container{
 max-width: 870px;
 margin: auto;
 background-color:#fff;
 padding: 30px;
 border-radius: 10px;
}
.section_title {
    color: #562EFF;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
}
.players img{
    width: 56px;
    margin-right: 10px;
}

.players .player{
    display: flex;
    align-items: center;

} 
hr{
    max-width: 807px;
     margin: auto;
}

/* Blogs sesction */

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.blogs .blog{
 display: flex;
 align-items: center;

} 
.blogs .blog .blog_title{
  color: #000;
  text-decoration: none;
  font-size: 20px;
} 
.blogs .blog span{
    color: #9F9F9F;
} 
.blogs .blog .author_name{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
}
.blogs .blog img{
    width: 197px; 
    margin-right: 10px;
}


/* courses section */

.courses{
 display: flex;
 justify-content: space-between;
} 
.courses .course{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    flex-basis: 32%;
    border-radius: 5px;

}
.courses .course img{
    width: 225px;
    margin-bottom: 10px;
}
.courses .course .course_title{
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.courses .course .instractor{
    font-size: 20px;
    text-decoration: none;
    color: #ED6B4F;
    font-size: 14px; 
    margin-bottom: 8px;
    display: inline-block;
}
.courses .course .course_info{
    display: flex;
    justify-content: space-around;
    align-items: center;

} 
.courses .course .rating-number{
  color: #A2A2A2;
}
.courses .course .course_duration{
    background: #FFE4E8;
    padding: 10px 12px;
    border-radius: 25px;
} 
.courses .course .course_duration p{
    color: #FF4A60;
    
} 
.courses .course .course_duration .fa{
    color: #FF4A60;
    margin-right: 5px;
    
} 


.courses .course .course_info .stars .fa{
    color: #FFC014 !important;
}